 @font-face { /* definindo a fonte do projeto*/
                font-family: 'Inter';
                src: url(font/Inter-Bold.ttf); 
            }

@font-face {
            font-family: 'Inter2';
            src: url(font/InterVariable.ttf);
}
        /*Variáveis globais de cor para facilitar a mudança*/
        :root{
            --color-white:  #fff; /*  */
            --color-white2:  #e6e3e3; /* */
            --color-dark1:  #272727; /* */
            --color-bgh:  #E6F3FF; /* cor do background hover do botão */
            --color-dark3:  #414141; /* */
            --color-dark4:  #1c1c1c; /* */
            --color-dark5:  #343434; /* */
            --color-text: #5E99DC; /* cor do texto botão/body */
            --color-btnc: #E0B4D9; /* cor do texto botão contato */
           
        }
        /*remover do conteúdo as mergens e o padding*/
        *{
            margin: 0;
            padding: 0;
        }
        body{
            font-family: Inter; /* mudar fonte */
            background-color: var(--color-white); /* cor do background */
            color: var(--color-white); /* Cor da fonte */
            
        }
        img{
            width: 170px; /* Largura da logo */
        }
        .header,
        .navigation_header{
            display: flex; /* layouts flexível e responsivo, facilitando o alinhamento e a distribuição de elementos dentro de um container */
            flex-direction: row; /* mudar a forma do display */
            align-items: center; /* alinhar os items no centro */
        }
        .header{
            background-color: var(--color-bgh);
            box-shadow: 1px 1px 4px var(--color-white2); /* sombra do header */
            height: 100px; /* altura do header */
            justify-content: space-between; /*alinhar os itens de um container flexível no seu eixo principal*/      /* */
            padding: 0% 10%; /* espaçamento da borda, na direita e esquerda */
        }
        .navigation_header{
            gap: 3em;
        }
        /* usa se "a" para referir aos links */
        .navigation_header a{ /* parte do cabeçalho com os botões */
            text-decoration: none;
            color: var(--color-text);
            transition: 1s; /* transição da cor */
            font-weight: bold; /* Deixar em negrito */
        }
        button {
            background-color: var(--color-bgh);
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s; /* transição para mudança de cor dos botões */
            border: none;
            border-radius: 5px;
        }

        button:hover {
            background-color: rgb(222, 236, 250);
        }

        .btncontato{ /* CSS do botão contato */
            background-color: var(--color-btnc);
            width: 90px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 16px;
            transition-duration: 0.4s; /* transição para mudança de cor dos botões */
            border: none;
            border-radius: 5px;
        }
        .titulo{ /* CSS da parte de entrada do site */
            color: var(--color-text);
            font-size: 22px;
            font-family: Inter;
            text-align: left;
            padding-top: 60px;
            padding-left: 60px;
        }

        .subtitulo{ /* CSS do subtítulo */
            color: #828282;
            font-size: 14px;
            font-family: Inter2;
            text-align: left;
            padding-top: 5px;
            padding-left: 8px;
            font-weight: normal;
        }

        .rodape{ /* CSS do rodapé */
            background-color: var(--color-bgh);
            font-family: Inter;
            margin-top: 100px;
            width: 100%;
            height: 100px;
            position: fixed; /* fixa o rodapé na parte inferior da página */
            bottom: 0;
            left: 0;
            color: var(--color-text);
        }

        .rodape p{ /* CSS do texto do rodapé */
            color: var(--color-text);
            font-size: 10px;
            text-align: center;
            padding: 80px 0px;
        }

        .imagem_inicio{ /* CSS da imagem inicial */
            width: 300px;
            height: auto;
            position: absolute;
            top: 120px;
            right: 100px;
        }